<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogTec</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link para o arquivo CSS -->
</head>

<body>
    <header>
        <a href="{{ url_for('index') }}">BlogTec</a>
        <a href="{{ url_for('login') }}">Login</a>
    </header>

    <main>
        {% for post in posts %}
            <article class="post">
                <h2>{{ post['title'] }}</h2>
                <p>{{ post['content'] }}</p>
            </article>
        {% endfor %}
    </main>

    <footer>
 
    </footer>
</body>

</html>
