<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form action="/" method="post">
      <input type="text" name="username" placeholder="Usuário" required><br>
      <input type="password" name="password" placeholder="Senha" required><br>
      <input type="submit" value="Entrar">
    </form>
  </div>
</body>
</html>